*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(56, 5, 5);
    text-align: center;
    margin-top: 30px;
    color: #ffffc7;
}
.container{
    margin: 10px;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 5rem rgba(219, 212, 212, 0.1);
}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap:1.5vmin;
}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0,0,0,0.1);
    font-size: 8vmin;
    color: #b0413e;
    background-color: #ffffc7;
}
#new-btn,#reset-btn{
    margin-top: 10px;
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #191913;
    border-radius: 1rem;
    border: none;
    color: azure;
}
#msg{
    color: #ffffc7;
    font-size: 8vmin;
    margin-bottom: 60px;
}
.msg-container{
    height: 80vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
    margin-bottom: 80px;
}
.hide{
    display: none;
}